services:
  tritonserver:
    image: nvcr.io/nvidia/tritonserver:25.12-py3
    container_name: tritonserver
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
    volumes:
      - ./model_repository:/models
    command: tritonserver --model-control-mode=explicit --model-repository=/models --strict-model-config=false
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
